.react-select__placeholder {
    font-family: 'Logo';
    font-size: 14px;
    color: #FED159;
  }
  
  .react-select__option {
    font-family: 'Text';
    font-size: 14px;
    color: #94B5EA;
  }
  